<!DOCTYPE html>
<html>
<head>
    <title>股票信息</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script>
        function submit_it(action){
            var broker = document.getElementById("broker").value;
            href="/query?action="+action+"&broker="+broker+"&token={{token}}";
            window.location.href = href;
        }
    </script>
</head>
<body>
<div class="container-fluid container-panel">
    <div class="card-header">
        <i class="fa fa-database" aria-hidden="true">功能</i>
        <div class="form-group">
            <label class="col-sm-2 control-label">选择券商:</label>
            <div class="col-sm-offset-2 col-sm-12">
                <select class="custom-select" id="broker">
                    <option value="mock" selected>同花顺模拟炒股</option>
                    <option value="yinhe">银河证券</option>
                </select>
            </div>
        </div>
    </div>

    <div class="card">
        <h2> 查看数据库 </h2>
        <ul class="list-group">
            <li class=" list-group-item alert-primary" role="alert" align="center">
                <a href="#" onclick="submit_it('position')"
                   class="btn btn-block btn-big btn-primary vcenter">当前持仓</a>
            </li>

            <li class="list-group-item alert alert-primary" role="alert" align="center">
                <a href="#" onclick="submit_it('task')"
                   class="btn btn-block btn-big btn-primary vcenter">待交易任务</a>
            </li>

            <li class="list-group-item alert alert-primary" role="alert" align="center">
                <a href="#" onclick="submit_it('log')"
                   class="btn btn-block btn-big btn-primary vcenter">交易日志</a>
            </li>

            <ul/>
    </div>
    <div class="card">
        <h2> 查看软件结果 </h2>
        <ul class="list-group">
            <li class="list-group-item alert-primary" role="alert" align="center">
                <a href="#" onclick="submit_it('true_position')"
                   class="btn btn-block btn-big btn-primary vcenter">真实持仓</a>
            </li>

            <li class="list-group-item alert-primary" role="alert" align="center">
                <a href="#" onclick="submit_it('today_entrusts')"
                   class="btn btn-block btn-big btn-primary vcenter">当日委托</a>
            </li>


            <li class="list-group-item alert-primary" role="alert" align="center">
                <a href="#" onclick="submit_it('today_trades')"
                   class="btn btn-block btn-big btn-primary vcenter">当日成交</a>
            </li>

            <li class="list-group-item alert-primary" role="alert" align="center">
                <a href="#" onclick="submit_it('balance')" class="btn btn-block btn-big btn-primary vcenter">头寸情况</a>
            </li>

        </ul>
    </div>
</div>
</body>
</html>
