<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ETF基金一览</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
   <div class="jumbotron">
           <h1>ETF策略结果一览</h1>
           <p><b>策略描述：</b></p>
           <p>跌破下位40%分位数就买入，越跌越买；涨破上位80%分位数，越涨越卖；</p>
           <p>买入和卖出比是1:2</p>
           <p>每次低于1%个百分比点，就多买、多卖1份。</p>
  </div>

   <p>生成时间：{{time}}</p>
   {% for image in images %}
    <img style="width:100%" src="{{ image }}" alt="ETF定投图片">
   {% endfor %}
</body>
</html>