<!DOCTYPE HTML>
<html>

<head>
    <title>股票信息</title>
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
             $.ajax({
                url: '{{ query_url | safe }}',
                type: 'get',
                success: function (data) {
                    if (data.code!=0){
                        $('#title').html("错误发生："+data.msg);
                        return;
                    }
                    // 插入标题
                    if ('title' in data){
                        $('#content').append($('<h2/>').html(data.title))
                    }

                    if ('data' in data){
                        if (Array.isArray(data.data)){
                            for (var i = 0; i <data.data.length ; i++) {
                                _data = data.data[i]
                                if ('title' in _data){
                                    $('#content').append($('<h4/>').html(data.title))
                                }
                                if ('table' in _data){
                                    $('#content').append(create_table(_data.table,'#content'));
                                }
                            }
                        }
                    }
                },
                error: function (res) {
                    console.log("错误发生：")
                    console.log(res)
                }
            });
        });


         function create_table(list, selector) {
             var table = $('<table/>');
             var cols = get_header(list, selector);
             for (var i = 0; i <list.length ; i++) {
                 var row = $('<tr/>');
                 for (var colIndex = 0; colIndex <cols.length ; colIndex++)
                 {
                     var val = list [i][cols[colIndex]];
                     if (val == null) val = "" ;
                     row.append($('<td/>').html(val));
                 }
                 table.append(row);
             }
             $(selector).append(table);
         }

         function get_header(list, selector) {
             var columns = [];
             var header = $('<tr />');
             header.append($('<th/>').html(''));
             for (var i = 0; i <list.length ; i++) {
                 var row = list [i];
                 for (var k in row) {
                     if ($.inArray(k, columns) == -1) {
                         columns.push(k);
                         header.append($('<th/>').html(k));
                     }
                 }
             }
             $(selector).append(header);
             return columns;
         }
    </script>
</head>

<body style="text-align:center;" id="body">
    <div class="container-fluid container-panel">
        <div id="content" align="center"  class="table table-striped"></div>
        <div>
            <a class="btn btn-block btn-primary" href="/query?token={{token}}" role="button">返回</a>
        </div>
    </div>
</body>

</html>